modules = ["nodejs-18"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 10000
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["npm", "start"]
